<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CAD.Properties.Settings.db_maySoftConnectionString"
            connectionString="Data Source=.;Initial Catalog=db_maySoft;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>